In [73]:
import os
import pandas as pd

In [74]:
df_mbg = pd.read_csv("./Data/tweets.csv")

In [75]:
df_mbg.head()

,Tweet Count,Username,Text,Created At,Retweets,Likes
0,1,Fadli Dinul,me: program MBG alias gajelas,Fri Jan 31 23:51:53 +0000 2025,0,8
1,2,JANGAN DITUNGGUIN DAN DITAGIH UPDATE AUüôèüèª,kapan orang2 yg ga pernah commute pake transum...,Fri Jan 31 23:49:29 +0000 2025,1,7
2,3,nugrahagu,"Lihatlah Indonesia.\nBikin program MBG, sebelu...",Fri Jan 31 23:44:39 +0000 2025,0,0
3,4,Bulliever Shinobi,@Sasmo_kliwon @raihanaulia_rar enteng banget n...,Fri Jan 31 23:35:47 +0000 2025,0,5
4,5,Humas Polres Nganjuk,Program Makan Bergizi Gratis (MBG) Polres Ngan...,Fri Jan 31 23:33:55 +0000 2025,0,6

In [ ]:
# cleaned_mbg = df_mbg.drop(columns=['image_url', 'in_reply_to_screen_name', 'tweet_url', 'user_id_str', 'conversation_id_str'])

In [76]:
cleaned_mbg = df_mbg.drop_duplicates(subset=['Text'])

In [77]:
cleaned_mbg.to_csv('./Data/Cleaned_MBG.csv')

In [78]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hanywijaya/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [79]:
import re
from nltk.corpus import stopwords
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

factory = StemmerFactory()
stemmer = factory.create_stemmer()

stop_words = set(stopwords.words('indonesian')).union({
    'yg', 'dgn', 'kalo', 'bgt', 'aja', 'dr', 'sbg', 'utk', 'tbh', 'tsb', 'tp', 'ya', 'kl', 'klw', 'oh', 'duh', 'waduh', 'min', 'b', 'si'
})

abbreviation_dict = {
    'gk': 'tidak',
    'ga': 'tidak',
    'gak': 'tidak',
    'aja': 'saja',
    'dr': 'dari',
    'yg': 'yang'
}

preprocessed_full_text = []

for i, tweet in enumerate(cleaned_mbg['Text']):
    #to lowercase
    tweet = tweet.lower()
    #remove urls
    tweet = re.sub(r"http\S+|www\S+|https\S+", '', tweet, flags=re.MULTILINE)
    #remove mentions
    tweet = re.sub(r'@\w+', '', tweet)
    #remove numbers
    tweet = re.sub(r'\d+', '', tweet)
    #remove punctuation
    tweet = re.sub(r'\W', ' ', tweet)
    #ganti singkatan
    words = tweet.split()
    normalized_words = [abbreviation_dict[word] if word in abbreviation_dict else word for word in words]
    tweet = ' '.join(normalized_words)
    #filter stopwords
    tweet = ' '.join([word for word in tweet.split() if word not in stop_words])

    preprocessed_full_text.append(tweet)
    
#ga remove hashtags

In [80]:
cleaned_mbg['Text'] = preprocessed_full_text

/var/folders/px/hxy6zvvd37g8q9mkcv_tz2q00000gn/T/ipykernel_11306/1823550062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_mbg['Text'] = preprocessed_full_text

In [81]:
print(cleaned_mbg['Text'][:20])

0                          me program mbg alias gajelas
1     orang commute pake transum stop ngerecokin keb...
2     lihatlah indonesia bikin program mbg bikin ikn...
3     enteng banget nyuruh inovasi hasil pengorbanan...
4     program makan bergizi gratis mbg polres nganju...
5     mbg adlh program mulia anggarannya terbatas hr...
6     kakak ipar gue usaha katering harian warga per...
7     kementerian lembaga penghematan an triliun gt ...
8     tonjolkan cm program makan siang gratis smua j...
9     program andalan prabowo mbg dukung semoga kede...
10    pendidikan kesehatan prioritas utama diefisien...
11    parameter keberhasila program mbg apasi serius...
12    keknya program mbg ikn sih kecuali investor ma...
13    mari dukung program pemerintah makan bergizi g...
14    mari dukung program pemerintah makan bergizi g...
15    mari dukung program pemerintah makan bergizi g...
16    mari dukung program pemerintah makan bergizi g...
17    wkwk kaum emang bodoh beneran adik kakak bodoh...
18    setlh dg program gede mudaratnya mbg asn ngera...
19    puluhan orang tertipu program mbg tasikmalaya ...
Name: Text, dtype: object

In [82]:
cleaned_mbg = cleaned_mbg.dropna(subset=['Text'])
cleaned_mbg.head()

,Tweet Count,Username,Text,Created At,Retweets,Likes
0,1,Fadli Dinul,me program mbg alias gajelas,Fri Jan 31 23:51:53 +0000 2025,0,8
1,2,JANGAN DITUNGGUIN DAN DITAGIH UPDATE AUüôèüèª,orang commute pake transum stop ngerecokin keb...,Fri Jan 31 23:49:29 +0000 2025,1,7
2,3,nugrahagu,lihatlah indonesia bikin program mbg bikin ikn...,Fri Jan 31 23:44:39 +0000 2025,0,0
3,4,Bulliever Shinobi,enteng banget nyuruh inovasi hasil pengorbanan...,Fri Jan 31 23:35:47 +0000 2025,0,5
4,5,Humas Polres Nganjuk,program makan bergizi gratis mbg polres nganju...,Fri Jan 31 23:33:55 +0000 2025,0,6

In [83]:
cleaned_mbg = cleaned_mbg[cleaned_mbg['Text'] != '']

In [84]:
cleaned_mbg.to_csv('./Data/PreprocessedWithoutStopwords_MBG.csv')

In [72]:
cleaned_mbg.to_csv('./Data/Preprocessed_MBG.csv')